.main-bg{
  /* height: 500px; */
 /*  background-image: url('./img/img.jpg'); */
  background-size: cover;
  width: 100%
}
.main-bg img{
  width: 100%
}
.mt20{
  margin-top: 20px;
}
.title{
  text-align: center;
}
.title p{
  line-height: 200%;
}

.in h2, .in h1{
  text-align: center;
}

.row{
  max-width: 1200px; 
  width: 100%; 
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}


.price{
  font-weight: bold;
}
.s-title{
  font-size: 16px;
}
.category{
  color: #959595;
  font-size: 12px;
}

/*--------------------------------------*/
.detail{
  padding: 50px;
}
.detail .col{
  text-align: center;
}
.detail .col img{
  width: 600px;
  height: 600px;
}

.detail .row{
  display: flex;
  flex-direction: column;
}
.detail .row h4{
  padding: 10px 0;
  font-size: 16px;
}
.detail .row p{
  font-size: 14px;
  padding: 5px 0;
}
.detail .row .btn{
  border: none;
  background-color: rgb(250, 222, 222);
  color: #333;
  cursor: pointer;
  padding: 10px;
}

.cards-container{
  max-width: 1200px; 
  width: 100%; 
  margin: 10px auto;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards-container a{
  text-decoration: none;
  color: #333;
  width: 32%;
  margin: 0 7px;
}

/*--------------------------------------*/
.cartTable{
  max-width: 1000px;
  width: 100%;
  padding: 0 30px;
  margin: 0 auto;
}
.cartTable table{
  border-collapse: collapse;
  border: 1px solid #ddd;
}
.cartTable table tr{}
.cartTable table tr th{
  border: 1px solid #ddd;
  padding: 5px 20px;
  font-size: 14px;
}
.cartTable table tr th:nth-child(1){
  width: 10%;
}
.cartTable table tr th:nth-child(2){
  width: 70%;
}
.cartTable table tr th:nth-child(3){
  width: 10%;
}
.cartTable table tr th:nth-child(4){
  width: 10%;
}
.cartTable table tr td{
  border: 1px solid #ddd;
  padding: 5px 20px;
  font-size: 14px;
  text-align: center;
}