/*폰트*/
@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
body{
  font-family: 'GmarketSansMedium';
}


/*초기화*/
*{margin: 0; padding: 0; box-sizing: border-box;}
ul, li{list-style: none;}
a{text-decoration: none; color: inherit;}

/*스크롤 Top 버튼*/
.topBtn1{
  position: fixed;
  bottom: 180px;
  right: 30px;
  z-index: 997;
}
.topBtn1 img{
  width: 60px;
  height: 60px;
}
.topBtn2{
  position: fixed;
  bottom: 100px;
  right: 30px;
  z-index: 998;
}
.topBtn2 img{
  width: 60px;
  height: 60px;
}
.topBtn3{
  color: red;
  font-size: 18px;
  font-weight: bold;
  position: fixed;  /*고정*/
  bottom: 20px;
  right: 30px;
  z-index: 999;
  display: none;  /*스크롤로 밑으로 이동했을때만 나타나게 하기 위해 none설정*/
}
.topBtn3 img{
  width: 60px;
  height: 60px;
}

/*======================================*/
/*공통속성*/
.container{
  width:1000px;
  margin:0 auto;
  box-sizing:border-box;
  padding:100px 20px;
}
/*=======================================*/
/*header*/
header{
  width:100%;
  background-color:#fff;
  box-shadow:0 1px 2px rgba(0,0,0,0.2);
}
header > .container{
  padding:24px 10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  font-family: "Katibeh";
  font-size:42px;
  height:20px;
  transform:translateY(-24px);
  letter-spacing: 2px;
}

nav{
  display:flex;
}
.gnb, .icon{
  display:flex;
}
.gnb > li{
  margin:0 20px;
  transform:translateY(2px);
}
.icon > li{
  margin:0 5px;
  font-size:20px;
}
/*메뉴에 hover효과*/
nav li:hover,
nav li.active{
  color:orange;
}
/*------------------------------------*/
/*배너*/
#banner{
  min-width:1000px;
  height:600px;
  background:url(../img/main.jpg) center/cover;
  color:#fff;
}
#banner h1{
  font-family: Georgia,"Nanum Gothic";
  font-size:60px;
  font-weight: normal;
}
#banner h1 i{
  color:orange; 
  padding-left:20px;
}
#banner h2{
  font-size:30px;
  margin:10px 0 40px;
}
#banner .btn button{
  padding:8px 34px;
  margin-right:10px;
  font-size:14px;
  border:2px solid #fff;
  background-color:transparent;
  color:#fff;
  cursor:pointer;
  transition:all .3s;
}
/*버튼에 hover효과*/
#banner .btn button:hover{
  border-color:#fc0;
  color:#fc0;
}
/*------------------------------------*/
/*works*/
#works{
  background-color:#fcd307;
  min-width:1000px;
}
#works > .container{
  width:800px;
  padding:100px 0;/*좌우 여백을 제거*/
  display:flex;
}
#works .box{
  width:200px;
  text-align: center;
}
#works .box img{
  border-radius: 50%;
}
#works .box h3{
  margin:20px 0 5px;
}
/*------------------------------------*/
/*about*/
#about h1{
  font-family: Georgia,"Nanum Gothic";
  font-size:60px;
  font-weight: normal;
}
#about h1 i{
  margin-right:20px;
}
#about > .container > p{
  font-size:18px;
  text-indent: 70px;
}

#about .member{
  margin:60px 0;
  display:flex;
  justify-content: space-around;
}
#about .member > li{
  text-align: center;
  transition: all 0.3s; /*속성이 변경되면 0.3초동안 변경*/
  opacity: 0; /*0값을 줘서 눈에 안보이게 함*/
}

/*해당 요소 속성적용*/
#about .member > li:nth-child(1){
  transform: translateX(-100%);
}
#about .member > li:nth-child(2){
  transform: translateY(-100%);
}
#about .member > li:nth-child(3){
  transform: translateY(100%);
}
#about .member > li:nth-child(4){
  transform: translateX(100%);
}

/*멤버의 on클래스가 추가되면 li요소가 화면에 나타남*/
#about .member.on > li{
  transform: translate(0, 0);
  opacity: 1;
}

#about .member h3{
  font-size:14px;
  margin:20px 0 5px;
  letter-spacing: 6px;
}
#about .member p{
  color:#666;
  letter-spacing: 2px;
}

#about .txt{
  display:flex;
}
#about .txt > li{
  padding:0 20px;
  text-align: justify;
  line-height:1.6;
}
/*------------------------------------*/
/*contact*/
#contact{
  min-width:1000px;
  background-color:#333;
  color:#fff;
}
#contact h1{
  font-family: Georgia,"Nanum Gothic";
  font-size:60px;
  font-weight: normal;
}
#contact h1 i{
  margin-right:20px;
}
#contact > .container > p{
  font-size:18px;
  text-indent: 70px;
}

#contact .contact-wrap{
  display:flex;
  margin-top:80px;
}
#contact .contact-wrap .map > p{
  margin: 5px 0;
}
#contact .contact-wrap .map > p > i{
  margin: 5px 0;
}

.contact-wrap > div{
  width:50%;
}

.contact-wrap > .address{
  box-sizing:border-box;
  padding:0 70px;
}

.contact-wrap > .address > p{
  margin-bottom:40px;
  line-height:40px;
}
.contact-wrap > .address > p > i{
  font-size:35px;
  vertical-align: middle;
  margin-right:10px;
}

.contact-input label{
  display:block;
  line-height:1.5;
  margin-bottom:10px;
}
.contact-input .wrap{
  display:flex;
  justify-content: space-between;
}
.contact-input .wrap > p{
  width:235px;
}
.contact-input .wrap > textarea{
  width:240px;
  height:130px;
  border:0; 
  outline: 0;
  padding:10px;
  box-sizing: border-box;
}
input[type=text]{
  width:100%;
  height:40px;
  border:0;
  margin-bottom:5px;
  padding:10px;
  box-sizing: border-box;
  outline:0;
}
input[type=submit]{
  padding:6px 24px;
  background-color:#f9be20;
  border:0;
  color:#fff;
  font-weight: bold;
  cursor:pointer;
}
/*버튼에 hover효과*/
input[type=submit]:hover{
  background-color:#f5ae16;
}

#contact hr{
  border:1px solid #fff;
  margin:50px 0;
}
/*------------------------------------*/
/*footer*/
footer > .container{
  padding:30px 10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}
footer span{margin-right:30px;}
footer p a{
  background-color:#ff9;
}




/*---------------PC 버전--------------------*/
.pc-top-bar{
  height: 250px;
}

/*상단 쿠폰안내 영역*/
.pc-top-bar__first-section{
  background-color: #0bb0ab;
  width: 100%;
  height: 33px;
}
.con{
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pc-top-bar__second-section{
  height: 154px;
}
/*로고이미지*/
.pc-top-bar__logo > img{
  width: 215px;
  height: 50px;
}

.widget-menu > ul > li > a{
  margin-right: 5px;
  color: #888;
  font-size: 12px;
  display: inline-block;
  padding-inline: 0 10px;
  transition: color 0.3s;
}
.widget-menu > ul > li:hover > a{
  color: rgba(136, 136, 136, 0.5);
}

/*버튼요소*/
.btn-group{
  margin-top: 20px;
}
.btn-group > a{
  color: #fff;
  display: inline-flex;
  padding: 5px 20px 2px 20px;
  margin-left: 10px;
  border-radius: 30px;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}
.btn-group > a:first-child{
  background-color: #ff7e6b;
  border: 1px solid #ff7e6b;
}
.btn-group > a:first-child:hover{
  background-color: #fff;
  color: #ff7e6b;
}

.btn-group > a:last-child{
  background-color: #12cfca;
  border: 1px solid #12cfca;
}
.btn-group > a:last-child:hover{
  background-color: #fff;
  color: #12cfca;
}

.menu-1{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-1 > ul{
  width: 80%;
}
.menu-1 > ul > li{
  width: calc(100% / 4);
}
.menu-1 > ul > li > a{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 25px;
  color: #3d464b;
  transition: color 0.3s;
  white-space: nowrap;
}
.menu-1 > ul > li:hover > a{
  color: #212121;
}

/*4번째 요소 hover시 메뉴명이 바뀜*/
.menu-1 > ul > li:nth-of-type(4) > a{
  /*border: 1px solid black;  영역 확인용*/
}
.menu-1 > ul > li:nth-of-type(4):hover > a:first-child{
  display: none;
}
.menu-1 > ul > li:nth-of-type(4) > a:last-child{
  display: none;
}
.menu-1 > ul > li:nth-of-type(4):hover > a:last-child{
  display: flex;
}

/*---------- section -----------*/
section{
  width: 100%;
  height: 100%;
}
/*비디오*/
.video{
  width: 100vw;
  height: 100%;
}
.video > video{
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
}

/*---------- main :누보시리즈 -----------*/
main{
  width: 100%;
  height: 600px;
  background-color: #f4f8f8;
}
main > h2{
  text-align: center;
  font-size: 32px;
  color: #333;
  padding: 80px 0 60px 0;
  font-weight: bold ;
}


/* .nouveau-series{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nouveauBox{
  width: 100%;
  height: 100%;
  margin: 0 10px;
  cursor: pointer;
} */


#nouveau-series .swiper {padding: 0 10px; box-sizing: border-box; overflow: hidden;}
.nouveauImg > img{
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}



/*이미지요소*/
/* .nouveauImg{
  width: 390px;
  height: 400px;
}
.nouveauImg > img{
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
} */
.hoverImg{
  display: none;
}
/*hover 효과*/
.nouveauImg:hover .blockImg{
  display: none;
}
.nouveauImg:hover .hoverImg{
  display: block;
}



/*텍스트요소*/
.nouveauText{
  width: 100%;
  height: 90px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding: 18px 0 10px;
  font-size: 16px;
  color: #222;
}
.price{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.price > .discount{
  color: #12cfca;
  font-weight: lighter;
  font-size: 16px;
  margin-right: 15px;
}
.price > s{
  font-size: 12px;
  color: #666;
}
/*---------- section : MD상품 -----------*/
#mdProduct{
  background-color: #f4f8f8;
  padding-top: 100px;
}
#mdProduct > h2{
  text-align: center;
  font-size: 32px;
  color: #333;
  padding: 80px 0 60px 0;
  font-weight: bold ;
}

/* .swiper-slide {
  flex-shrink: 1;
} */
 #mdProduct .swiper {padding: 0 10px; box-sizing: border-box; overflow: hidden;}
/*#mdProduct .swiper .swiper-wrapper{
  display: flex;
  flex-wrap: wrap;
}

#mdProduct .swiper .swiper-wrapper .swiper-slide{
  margin: 0 10px;
  cursor: pointer;
  width:390px;
  overflow: hidden;
  border: 1px solid #f00;
} */

/*이미지요소*/
.mdImg{
 /*  width: 350px;
  height: 350px; */
}
.mdImg > img{
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
.hoverImg{
  display: none;
}
/*hover 효과*/
.mdImg:hover .blockImg{
  display: none;
}
.mdImg:hover .hoverImg{
  display: block;
}



/*텍스트요소*/
.mdText{
  width: 100%;
  height: 80px;
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  text-align: center;
  padding: 15px 0 10px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  color: #222;
}
.price{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #333;
}

/*---------- section : SNS -----------*/
#sns{
  padding: 100px 0;
  background-color: #f3ffff;
}
.snsBox{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 20px;
}

/*텍스트요소*/
.snsText{
  margin-right: 200px;
  text-align: center;
}
.snsText > h3{
  font-size: 33px;
  font-weight: bold;
  color: #444;
  margin-bottom: 15px;
}
.snsText > p{
  font-size: 16px;
  color: #555;
  margin-bottom: 30px;
}
.snsText > button{
  width: 120px;
  height: 45px;
  border-radius: 30px;
  background-color: #12cfca;
  border-color: #12cfca;
  color: #fff;
  transition: .3s;
}
.snsText > button:hover{
  color: #12cfca;
  background-color: #fff;
  border: 1px solid #12cfca;
}


/*이미지요소*/
.snsImgBox{
  display: flex;
  align-items: center;
}
.snsImgBox > img{
  width: 400px;
  height: 400px;
  border-radius: 10px;
  margin-left: 10px;
}
/*---------- section : 양조장 -----------*/
#brewery{
  width: 100%;
  height: 100%;
}
.bgImg{
  width: 100%;
  height: 500px;
  background: url(../image/제주맥주-양조장.jpg) center/cover;
}
.bgColor{
  background-color: rgba(35, 73, 72, 0.35);
  zoom: 1;
  z-index: 999;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 180px;
}
.bgColor > p{
  color: #fff;
  font-size: 26px;
  margin-bottom: 50px;
}
.bgColor > button{
  background-color: #fff;
  color: #0bb0ab;
  border-radius: 30px;
  width: 220px;
  height: 45px;
  font-size: 13px;
  transition: .3s;
}
.bgColor > button:hover{
  border: 1px solid #fff;
  background-color: #0bb0ab;
  color: #fff;
}

/*---------------- footer ---------------*/
footer{
  width: 100%;
  height: 100%;
  padding: 80px 0;
  background-color: #fcfdff;
  color: #777;
}

.footerTop{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between ;
}
.footerTop > ul{
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.footerTop > ul > li{
  margin-right: 20px;
  font-size: 14px;
}
.footerTop > ul .on{
  color: #333;
  font-weight: bold;
}

.footerTopIcon{
  display: flex;
  align-items: center;
  margin-right: 30px;
}
.footerTopIcon > img{
  margin-right: 10px;
  cursor: pointer;
}
.footerTopIcon > .fIcon1{
  width: 210px;
  height: 40px;
}
.footerTopIcon > .fIcon2{
  width: 40px;
  height: 40px;
}

.footerSub{
  width: 100%;
  height: 100%;
  margin: 25px auto;
  padding: 0 30px;
}
.txt1 > p{
  font-size: 14px;
}
.txt1_sub{
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.txt2 > p{
  font-size: 12px;
  color: rgb(247, 83, 83);
  margin: 25px 0;
}
.txt3 > p{
  font-size: 12px;
}


/*---------------모바일 버전--------------------*/
.mobile-top-bar{
  width: 100%;
  background-color: #0bb0ab;
}
.mobile-top-bar a,
.mobile-top-bar i{
  color: #fff;
}

/*상단 쿠폰안내 영역*/
.mobile-top-bar__first-section{
  width: 100%;
  height: 31px;
  background-color: #ff8672;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.mobile-top-bar__first-section > a > p{
  color: #fff;
}
.mobile-top-bar__second-section{
  height: 50px;
  display: flex;
  padding: 0 5px;
}
/*logo 이미지*/
.mobile-top-bar__logo > img{
  width: 104px;
  height: 24px;
  padding-left: 5px;
}


/*라이브러리*/
/*커스텀*/


/*미디어쿼리*/
@media screen and (min-width: 992px){   /*pc*/
  .mobile-top-bar{
    display: none;
  }
}
@media screen and (max-width: 991px){   /*mobile*/
  .pc-top-bar{
    display: none;
  }
  .mobile-top-bar{
    display: block;
  }

  /*누보시리즈*/
  main{
    height: 400px;
  }
  main > h2{
    font-size: 25px;
  }
  .nouveauText{
    font-size: 13px;
  }
  .price > .discount{
    font-size: 14px;
  }
  .price > s{
    font-size: 10px;
  }

  /*MD*/
  #mdProduct{
    padding-top: 0;
  }
  #mdProduct > h2{
    font-size: 28px;
  }
  .mdText{
    font-size: 12px;
  }
  .price{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #333;
  }

  /*sns*/
  .snsText{
    display: none;
  }
  .snsImgBox > img{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-left: 10px;
  }

  /*footer*/
  .footerTop > ul > li{
    font-size: 12px;
  }

  .footerTopIcon > img{
    display: none;
  }
  .txt1 > p{
    font-size: 13px;
  }
  .txt1_sub{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  .txt2 > p{
    font-size: 12px;
    color: rgb(247, 83, 83);
    margin: 25px 0;
  }
  .txt3 > p{
    font-size: 12px;
  }

}