/*폰트*/

/*초기화*/
*{margin: 0; padding: 0; box-sizing: border-box;}
ul, li{list-style: none;}
i, li{cursor: pointer;}

a{text-decoration: none; color: inherit;}
body{margin: 0 auto; min-width: 1000px;}
/*------------------------------------------------*/
/*공통속성 : container*/
.container {
  width: 1500px;
  height: 100%;
  margin: 0 auto;
}
/*------------------------------------------------*/
/*header : 상단 fixed되는 메뉴*/
header{
  width: 100%;
  height: 100%;
  margin-bottom: 270px;
}

.h-container{
  width: auto;
  height: 100%;
  margin: 0 auto;
}

/*fixed되는 상단 nav 메뉴*/
.nevMenu {
  min-width: 1400px;
  width: 100%;
  position: fixed;
  padding: 10px 150px;
  box-sizing: border-box;
  z-index: 999;
  top: 0;
  background-color: #fff;
}

.TopMnue > ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.TopMnue > ul > li {
  padding: 10px;
  margin: 0 5px;
  box-sizing: border-box;
  font-size: 14px;
  color: #333;
}

.SubMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.SubMenu > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.SubMenu > ul > li {
  margin: 0 35px;
  font-weight: bold;
  color: #333;
}

.logoImg {
  width: auto;
}
.logoImg > img{
  padding-top: 10px;
}
/*------------------------------------------------*/
/*main : banner영역*/
main {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}
.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 100;
}
.title > h2 {
  position: absolute;
}
.title > h2:nth-of-type(1){
  top: -120px;
  font-size: 55px;
  color: #1191D0;
}
.title > h2:nth-of-type(2){
  top: -55px;
  font-size: 60px;
  color: #134091;
}
.title > p {
  position: absolute;
  right: 0;
  top: -10px;
  color: #134091;
  padding-right: 20px;
  font-size: 17px;
}

/*슬라이드 배너*/
.banner {
  width: 100%;
  overflow: hidden;
  margin-top: 30px;
}
.banner_box{
  position: relative;
  width: 100%;
  height: 520px;
}
.banner_box img{
  position: absolute;
  transition: all 0.3s;
  width: 100%;
  height: 520px;
  cursor: pointer;
}
.banner_box .leftPlus400{
  left: 100%;
  transition: none;
}
.banner_box .left0{
  left: 0;
}

.guide > ul {
  display: flex;
  justify-content: flex-start;
  /* margin-left: 375px; */
}
.guide > ul > li{
  width: 380px;
  height: 80px;
  font-size: 18px;
  background-color: #425d8f; /*35538b*/
  color: #fff;
  letter-spacing: -0.5px;
  display: block;
  text-align: center;
  line-height: 80px;
}
/*구분선 가상요소*/
.guide > ul > li::after{
  content: "|";
  width: 2px;
  height: 60px;
  float: right;
}
/*가상요소 구분선 마지막영역 제거*/
.guide > ul > li:last-child:after{
  content: "";
}

/*이미지 아이콘*/
.guide > ul > li img{
  margin-right: 15px;
  margin-top: 25px;
}
.guide > ul > li:nth-of-type(2) img{
  width: 30px;
  height: 26px;
}
.guide > ul > li:nth-of-type(3) img{
  width: 23px;
  height: 29px;
}
.guide > ul > li:nth-of-type(4) img{
  width: 28px;
  height: 25px;
}

/*------------------------------------------------*/
/*section : 대표 병원3개 소개 + 공지사항*/
section{
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}
.section_box{
  width: 100%;
  height: 100%;
}

.section{
  padding: 10px 10px 80px;
}


.Link{
  display: flex;
  justify-content: center;
  align-items: center;
}
.linkBox{
  width: 450px;
  height: 580px;
  margin: 10px 15px;
  padding: 40px;
  box-sizing: border-box;
  transition: all .5s;
}
.linkBox:hover{
  transform: scale(1.03);
}
/*각 요소 배경이미지 설정*/
.link1{
  background: url(../images/linkBox1.png) center/cover;
}
.link2{
  background: url(../images/linkBox2.png) center/cover;
  margin-top: 120px;
}
.link3{
  background: url(../images/linkBox3.png) center/cover;
}

/*텍스트 요소*/
.linkBox > h4{
  margin-left: 35px;
  font-size: 43px;
  color: #fff;
}
.txt_box{
  color: #fff;
}
.txt_box > p{
  font-size: 18px;
  margin-left: 35px;
  margin-top: 30px;
}


/*공지사항*/
.announcement{
  width: 100%;
  height: 500px;
  padding: 40px 0 40px 120px;
  display: flex;
  justify-content: space-between;
  background: url(../images/공지사항배경.jpg) center/cover;
  margin-top: 50px;
}

.aTitle{
  margin-right: 50px;
  margin-top: 120px;
  width: 650px;
  color: #fff;
}
.aTitle > b{
  display: block;
  padding-left: 35px;
  margin-bottom: 20px;
  font-size: 55px;
}
.aTitle > p{
  padding-left: 35px;
  font-size: 17px;
}
/*버튼요소*/
.aTitle > button{
  border: 0;
  outline: 0;
  background-color: transparent;
  border: 2px solid #fff;
  width: 180px;
  height: 55px;
  margin-top: 50px;
  margin-left: 35px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
}

.notification{
  display: flex;
  flex-wrap: wrap;
}
.noBox{
  width: 415px;
  height: 190px;
  display: block;
  background: #fff;
  padding: 40px 35px;
  box-sizing: border-box;
  position: relative;
  color: #134091;
  word-break: keep-all;
  margin: 10px;
  opacity: 0.9;
  border-radius: 1px;
  cursor: pointer;
}
.noBox:hover{
  opacity: 1;
}

.noBox > b{
  font-size: 20px;
}
.noBox > p{
  margin-top: 50px;
  text-align: right;
  color: #333;
  font-size: 15px;
}
.noBox:nth-last-of-type(1) > p,
.noBox:nth-last-of-type(3) > p{
  margin-top: 80px;
}
/*------------------------------------------------*/
/*section : 기관병원 소개 슬라이드*/
#Hospital{
  background-color: #f3f3f3;
}
.Hospital-introduction-slide{
  width: 100%;
  height: 100%;
}

.slideshow-container {
  position: relative;
  margin: auto;
}
/*슬라이드 이미지+텍스트 박스*/
.mySlides {
  display: none;
}
.slideBox{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:  30px 10px;
  height: 600px;
  /* border: 1px solid black; */
}

/*배경이미지*/
.img{
  width: 450px;
  height: 450px;
  margin-right: 100px;
}
/*각 요소 배경이미지 변경*/
.mySlides:nth-of-type(1) .img{background: url(../images/치료센터.jpg) center/cover;}
.mySlides:nth-of-type(2) .img{background: url(../images/재활병원.jpg) center/cover;}
.mySlides:nth-of-type(3) .img{background: url(../images/분당서울대학교병원.jpg) center/cover;}
.mySlides:nth-of-type(4) .img{background: url(../images/재활센터이미지3.jpg) center/cover;}
.mySlides:nth-of-type(5) .img{background: url(../images/헬스케어시스템.jpg) center/cover;}

 /* 이전, 다음 버튼 */
 .prev,
 .next {
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: 50px;
   margin-top: -22px;
   padding: 16px 20px;
   color: #ccc;
   font-weight: bold;
   font-size: 18px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
 }

 /* 버튼 위치설정 */
 .prev{
  left: 0;
 }
 .next {
   right: 0;
   border-radius: 3px 0 0 3px;
 }

 /* 마우스이벤트 효과 */
 .prev:hover,
 .next:hover {
   background-color: rgba(0, 0, 0, 0.8);
 }

.active,
.dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/*텍스트 요소*/
.text{
  width: 740px;
  height: 450px;
}
.text > b{
  font-size: 45px;
  color: #333;
  margin-top: 15px;
  margin-bottom: 5px;
  display: block;
}
.text > .en{
  font-size: 13px;
  color: #555;
  letter-spacing: 1.3px;
  padding-bottom: 15px;
  box-sizing: border-box;
}

.subText{
  margin-top: 30px;
  font-size: 15px;
  color: #333;
}
.subText b{
  font-size: 17px;
  background-color: #ccc;
  display: inline-block;
  margin-bottom: 7px;
}

/*버튼요소*/
.textBtn{
  margin-top: 40px;
  float: right;
  font-size: 15px;
  color: #444;

}
.textBtn > p{
  cursor: pointer;
  letter-spacing: 1.3px;
  text-align: center;
  width: 220px;
  height: 42px;
  padding-top: 9px;
  border-radius: 10px;
  border: 1px solid gray;
}
.textBtn > p:hover{
  font-weight: bold;
  background-color: #eee
}
/*------------------------------------------------*/
/*section : 건강정보*/
.health-information{
  width: 100%;
  height: 100%;
}
.healthTitle{
  width: 100%;
  height: 100%;
  margin: 20px 0;
  text-align: center;
}
.healthTitle > h4{
  font-size: 36px;
  margin-bottom: 25px;
}
.healthTitle > p{
  color: #444;
  font-size: 20px;
}

.health{
  margin-top: 50px;
}
.healthBox{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*배경이미지 요소*/
.healthImg{
  width: 300px;
  height: 420px;
  text-align: center;
  padding: 50px 10px;
  margin: 0 15px;
  box-sizing: border-box;
  cursor: pointer;
}
/*해당 영역별 배경이미지*/
.healthImg:nth-of-type(1){ background: url(../images/건강정보1.jpg) center/cover; }
.healthImg:nth-of-type(2){ background: url(../images/건강정보2.jpg) center/cover; }
.healthImg:nth-of-type(3){ background: url(../images/건강정보3.jpg) center/cover; }
.healthImg:nth-of-type(4){ background: url(../images/건강정보4.jpg) center/cover; }

/*텍스트 요소*/
.healthTxt{
  color: #fff;
}
.healthTxt > .tit{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}
/*구분선*/
.border{
  border: 1px solid #fff;
  width: 40px;
  margin-left: 120px;
  margin-bottom: 20px;
}
.healthTxt > p{
  font-size: 17px;
}

.sns{
  margin: 30px auto 0;
}
.sns > li{
  border: 1px solid #fff;
  width: 240px;
  height: 50px;
  line-height: 48px;
  margin-left: 22px;
}


/*------------------------------------------------*/
/*footer*/
footer{
  width: 100%;
  height: 350px;
  background-color: #25282D;;
  padding: 30px 20px;
  box-sizing: border-box;
}

.footerBox{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #fff;
}
.footerTop{
  width: 1500px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/*왼쪽 요소*/
.leftMenu > .footerTop > ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.leftMenu > .footerTop > ul > li{
  margin-right: 25px;
  font-weight: bold;
}

.address{
  font-size: 14px;
  color: #b5b5b5;
}
.footerTxt{
  font-size: 14px;
  margin-top: 25px;
  color: #b5b5b5;
}
/*아이콘 요소*/
.sns-icon{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.sns-icon > p{
  margin-right: 20px;
  font-size: 20px;
}

/*오른쪽 요소*/
.rightMenu{
  display: flex;
  align-items: center;
}
.plusBox{
  width: 190px;
  height: 50px;
  margin-left: 15px;
  padding: 7px 10px;
  line-height: 45px;
  background-color: #444;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
}
.plusBox:last-child{
  margin-right: 20px;
}

.subFooter{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

/*인증기관 이미지*/
.Certification-agency > img{
  margin-left: 25px;
}
.Certification-agency > img:last-child{
  margin-right: 15px;
}