html{height: 100%;}
body{background: #222; color: #fff; height: 100%;}
a{color: #fff; text-decoration: none;}
#wrap{height: 100%;}
.ir_so{
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  text-indent: -99999em;
  position: absolute;
}

/*-----------------------------------------------------*/
/*모바일메뉴*/
.mobile-menu{
  width: 100%;
  height: 100vh;
  background-color: #222;
  z-index: 11;
  position: fixed;
  top: 0;
  left: -100%;
  padding: 0 30px;
  box-sizing: border-box;
  display: none;
}
.mobile-menu .mobile-menu-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 67px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

/*-----------------------------------------------------*/
/*logo 이미지영역*/
.mobile-menu .mobile-menu-bar .menu-logoBt-wrap{
  width: 30px;
  height: 30px;
}
/*logo 이미지*/
.mobile-menu .mobile-menu-bar .menu-logoBt-wrap img{
  width: 100%;
}
.menu-appBar-wrap{
  width: 22px;
  height: 16px;
}
.appbarCloseBt{
  position: relative;
  width: 100%;
  height: 100%;
  display: block; /*a태그 블록요소로 변경*/
}
.appbarCloseBt i{
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 2px;
  background-color: #fff;
  margin-top: -1px;
}
/* x표시로 만들기 위해 rotate로 45도 만큼 회전시킴 */
.appbarCloseBt .appbar-line1{
  transform: rotate(45deg);
}
.appbarCloseBt .appbar-line2{
  transform: rotate(-45deg);
}

/*-----------------------------------------------------*/
/*사이드바 list*/
.mobile-menu .mobile-menu-list{
  width: 100%;
}
.mobile-menu .mobile-menu-list ul{
  width: 100%;
  margin-top: 30px;
}
.mobile-menu .mobile-menu-list ul li{
  padding: 10px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}
/*3번째 li요소 색상 변경*/
.mobile-menu .mobile-menu-list ul li:nth-child(3) a{
  color: rgb(169, 108, 22);
}

/*-----------------------------------------------------*/
/*사이드바 footer*/
.mobile-menu .mobile-menu-footer{
  padding-top: 20px;
}
.mobile-menu .mobile-menu-footer p{
  font-size: 16px;
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.mobile-menu .mobile-menu-footer-button{
  margin-bottom: 20px;
}
.mobile-menu .mobile-menu-footer-button button{
  background-color: #000;
  color: rgba(255, 255, 255, 0.6);
  padding: 5px 10px;
  display: inline-block;
}

.mobile-menu .mobile-menu-footer-sns span{
  display: inline-block;
}
.mobile-menu .mobile-menu-footer-sns a{
  display: block;
  width: 27px;
  height: 27px;
  background-color: #aaa;
  text-align: center;
  border-radius: 50%;
  transition: 0.3s;
  padding-top: 5px;
  box-sizing: border-box;
}
/*sns 아이콘 마우스 효과*/
.mobile-menu .mobile-menu-footer-sns a:hover{
  background-color: #fff;
}
.mobile-menu .mobile-menu-footer-sns a:hover i{
  color: #000;
}

/*-----------------------------------------------------*/
/*heaer*/
#header{
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
.header-mobile-menu-wrap{
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  position: relative;
  left: 0;
  display: none;
}
.header-mobile-menu-wrap .header-mobile-menu-bar{
  height: 80px;
  padding: 0 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #727b22aa;
}
.header-mobile-menu-wrap .header-mobile-menu-bar h1{
  order: 2; /*가운데에서 왼쪽으로 위치 변경*/
}
.header-mobile-menu-wrap .header-mobile-menu-bar h1 a{}
.header-mobile-menu-wrap .header-mobile-menu-bar h1 a img{}

.header-appBar-wrap{
  width: 22px;
  height: 16px;
  order: 1; /*위치 변경*/
}
.header-appBar-wrap > a{
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
/*i태그 공통속성*/
.header-appBar-wrap > a > i{
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #000;
  top: 0;
  left: 0;
}
.header-appBar-wrap > a > i.appbar-line1{
  top: 0%;
}
.header-appBar-wrap > a > i.appbar-line2{
  top: 50%;
}
.header-appBar-wrap > a > i.appbar-line3{
  top: 100%;
}


.header-search-wrap{
  order: 3; /*오른쪽으로 위치 변경*/
}
.header-search-wrap > a{font-size: 20px;}

.header-pc-menu-wrap{
  width: 100%;
  max-width: 1090px;
  margin: 0 auto;
  position: relative;
}
.header-pc-menu-wrap aside{
  position: absolute;
  top: 5px;
  right: 0;
}
.header-pc-menu-wrap aside ul{
  display: flex;
}
.header-pc-menu-wrap aside ul li{
  position: relative;
}
/*가상요소 생성(구분선)*/
.header-pc-menu-wrap aside ul li:not(:last-child):after{
  position: absolute;
  content: "";
  width: 1px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  right: 0;
  top: 5px;
}
.header-pc-menu-wrap aside ul li a{
  display: block;
  padding: 0 10px;
}
.header-pc-menu-wrap aside ul li:last-child a{padding-right: 0;}

.header-pc-menu-wrap .header-logoNav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.header-pc-menu-wrap .header-logoNav nav ul{
  display: flex;
}
.header-pc-menu-wrap .header-logoNav nav ul li a{
  display: block;
  padding: 0 10px 5px;
}
.header-pc-menu-wrap .header-logoNav nav ul li:last-child a{
  padding-right: 0;
}
.header-pc-menu-wrap .header-logoNav nav ul li a:hover{
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}

/*-----------------------------------------------------*/
/*main*/
#section1{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden; /*넘어가는 부분 가려줌*/
}
#section1 .m-video{
  width: 100%;
}
#section1 .m-video #mainVideo{
  width: 100%;
}

#section1 .m-again{
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 9;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: rgba(100, 116, 117, 0.7);
  text-align: center;
  transform: translate(-50%, -50%); /*가운데 위치하도록 설정*/
  display: none;
}
#section1 .m-again h3{
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section1 .m-again h3 a{
  font-size: 1.2em;
  text-transform: uppercase;
}

#section1 .m-next-section{
  position: absolute;
  z-index: 2;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
}
#section1 .m-next-section span a{
  font-size: 16px;
  transition: 0.3s;
}
#section1 .m-next-section span a:hover{
  font-size: 18px;
  color: #666;
}

#section1 .m-icon-footer{
  position: absolute;
  bottom: 0;
  z-index: 2;
  left: 0;
  width: 100%;
  height: 60px;
  padding: 0 80px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background-color: rgba(49, 49, 49, 0.6);
}
#section1 .m-icon-footer > div {
  /* display: flex; */
}
#section1 .m-icon-footer > div > ul{
  display: flex;
  border-left: 1px solid #919191;
}
#section1 .m-icon-footer > div > ul > li{
  width: 60px;
  height: 60px;
  border-right: 1px solid #919191;
  display: flex;
  justify-content: center;
  align-items: center;
}
#section1 .m-icon-footer > div > ul > li.addIconBtn{
  background-color: rgba(100, 116, 117, 0.7);
  color: #fff;
}
/*-----------------------------------------------------*/
/*section2*/
#section2{
  width: 100%;
  background-image: linear-gradient(to right, #384144, #384144 50%, #727b22 50%);
}
#section2 ul{display: flex;}
#section2 ul li{flex-basis: 50%;} /*간격설정*/
#section2 ul li > div{padding: 70px 80px;}
#section2 ul li > div .section2-title{padding-bottom: 30px;}
#section2 ul li > div .section2-title h2{
  font-size: 24px; 
  font-weight: bold;
  padding: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

#section2 ul li > div .section2-content p{
  line-height: 1.4;
  text-align: justify;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.6);
}

/*-----------------------------------------------------*/
/*section3*/
#section3{
  width: 100%;
  padding: 100px 0;
  background-color: #fff;
  position: relative;
  overflow: hidden; /*넘어가는 부분 가려줌*/
}
#section3 > div{
  width: 100%;
}
#section3 > div h2{
  text-align: center;
  font-size: 24px;
  color: #9f9999;
  margin-bottom: 50px;
}

#section3 > div .tranding-wrap{
  width: 100%;
  position: relative;
  height: 362px;
}
#section3 > div .tranding-wrap ul{
  width: calc(290px * 12);
  display: flex;
  flex-flow: row nowrap;
  top: 0;
  left: 0;
  position: absolute;
}
#section3 > div .tranding-wrap ul li{
  width: 290px;
  height: 100%;
}
/*이미지요소*/
#section3 > div .tranding-wrap ul li img{
  width: 100%;
}

/*-----------------------------------------------------*/
/*section4*/
.section4{width: 100%;}
.section4 .page-tab{
  word-break: 100%;
  height: 50px;
  background-color: #2c3437;
}
.section4 .page-tab .container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.filter-form .form-item input{
  display: none;
}
.filter-form .form-item input:checked ~ label{
  background-color: #262626;
  color: rgba(255, 255, 255, 0.8);
}
.filter-form .form-item label{
  padding: 13px 30px;
  color: rgba(255, 255, 255, 0.8);
}

.gallery{}
.gallery .gallery-wrap{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}
.gallery .gallery-wrap li{
  flex-basis: 33.3333%;
  overflow: hidden;
  position: relative;
  height: 541px;
}
.gallery .gallery-wrap li div{
  width: 100%;

}
.gallery .gallery-wrap li div a{
  width: 100%;
  display: block;
  position: relative;
}

/* 비디오 < 배경색 < 텍스트 순으로 쌓아올림*/
.gallery .gallery-wrap li div a .g-video{
  position: relative;
  z-index: 1;
  width: 100%;
  display: block;
}
/*비디오, 이미지 크기설정*/
.gallery .gallery-wrap li div a .g-video video,
.gallery .gallery-wrap li div a .g-video img{
  width: 100%;
  height: 100%;
  display: block;
  transition: 0.3s;
  transform: scale(1);
}
.gallery .gallery-wrap li div a:hover .g-video video,
.gallery .gallery-wrap li div a:hover .g-video img{
  transform: scale(1.2);
}
.gallery .gallery-wrap li div a .g-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s;
  display: block;
}
.gallery .gallery-wrap li div a:hover .g-bg{
  background-color: rgba(0, 0, 0, 0.7);
}
.gallery .gallery-wrap li div a .g-title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  opacity: 0;
}
.gallery .gallery-wrap li div a:hover .g-title{
  opacity: 1;
}
.gallery .gallery-wrap li div a .g-title span{
  display: block;
  padding-bottom: 20px;
  margin-top: 15px;
}
.gallery .gallery-wrap li div a .g-title > span > strong{
  color: #fff;
  font-size: 21px;
  font-weight: bold;
}
.gallery .gallery-wrap li div a .g-title span > b{
  font-size: 14px;
}
.gallery .gallery-wrap li div a .g-title span > .exploreBt{
  color: #fff;
}

/*더보기 영역*/
.loadMore{
  width: 100%;
  padding: 80px 0;
  text-align: center;
  background-color: #132d30;
}
.loadMore .loadMoreBt{
  cursor: pointer;
  width: 200px;
  height: 45px;
  background-color: #384244;
  color: #dee4e3;
  border: 1px solid #5e686a;
}

/*--------------------- 미디어쿼리 ---------------------*/
/*상단메뉴 : 상단 메뉴를 슬라이드 메뉴창으료 표현*/
@media screen and (max-width: 1090px) {
  .header-pc-menu-wrap{display: none;}
  .header-mobile-menu-wrap{display: block;}
}

/*section2 : flex되어 있는 속성으로 줄바꿈 시켜서 2줄로 표현*/
@media screen and (max-width: 1090px){
  #section2{width: 100%; background-image: none;}
  #section2 ul{flex-wrap: wrap;}
  #section2 ul li{flex-basis: 100%;}
  #section2 ul li:first-child{background: #384144;}
  #section2 ul li:last-child{background: #727b22;}
}
/**/
/**/

