/*구글폰트*/
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Praise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lilita+One&family=Lora:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Oxanium:wght@200..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Praise&display=swap');

/*-----------------------------------------------*/
/*초기화*/
*{margin: 0; padding: 0; box-sizing: border-box;}
ul, li{list-style: none;}
i, li{cursor: pointer;}

a{text-decoration: none; color: inherit;}
body{margin: 0 auto; min-width: 1000px; color: #333;}
html {scroll-behavior: smooth;}
/*-----------------------------------------------*/
/*공통속성 : container*/
.container {
  width: 1400px;
  height: 100%;
  margin: 0 auto;
}
header{
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  font-family: "Libre Baskerville", serif;
}
section{
  width: 100%;
  height: 100vh;
  /* margin-bottom: 100px; */
}
h2{
  text-align: center;
  font-size: 50px;
}
/*-----------------------------------------------*/
/*fixed되는 상단 nav 메뉴*/
.nav{
  width: 100vw;
  position: fixed;
  padding: 20px 120px;
  box-sizing: border-box;
  z-index: 999;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}
.navTit > p{
  font-size: 40px;
}

.navMenu > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navMenu > ul > li {
  margin: 0 25px;
  box-sizing: border-box;
  font-weight: bold;
}
/*-----------------------------------------------*/
/*section : home*/
.homeBox{
  height: 100vh;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*텍스트 요소*/
.homeTxt{
  padding: 10px;
}
.homeTxt b{
  color: #6495ed;
}
.homeTxt > p{
  margin: 40px 0;
  font-size: 17px;
  color: #444;
}
.homeTxt > p:nth-of-type(1){
  font-size: 38px;
  line-height: 45px;
}
/*프로필 이미지*/
.homeProflieImg{
  margin: 0 70px;
  border-left: 1px solid #ccc;
}
.homeProflieImg > img{
  width: 425px;
  height: 550px;
  margin-left: 70px;
}
/*-----------------------------------------------*/ 
/*section : proflie*/
#proflie{
  height: 100vh;
  padding: 55px 0;
  background-color: #222;
  color: #fff;
}
.proflieContent{
  padding: 100px 0 60px;
}
.proflieBox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-gap: 15px;
  border: 1px solid #6666;
  padding: 40px 40px 60px;
  background-color: #0007;
  margin-top: 50px;
}

/*프로필 이미지*/
.proflieBoxImg{
  width: 350px;
  height: 500px;
  background: url(../images/프로필사진3.jpg) center/cover;
}
/*텍스트 요소*/
.proflieBoxTxt{
  margin-left: 50px;
}

.about{
  margin-bottom: 30px;
}

.txt1{
  font-size: 30px;
  color: #6495ed;
}

.other{
  display: flex;
  justify-content: flex-start;  
}
.otherBox{
  margin-bottom: 30px;
}


.otherBox:nth-of-type(1) .other > .other-element:nth-of-type(1){
  width: 300px;
  margin-right: 90px;
}
.otherBox:nth-of-type(2) .other > .other-element:nth-of-type(1){
  width: 300px;
  margin-right: 90px;
}
.other-element{
  font-size: 15px;
  line-height: 30px;
}
.other-element > b{
  color: #6495ed;
  font-size: 18px;
}
.other-element li{
  font-size: 14px;
}
/*-----------------------------------------------*/
/*section : skill*/
#skill{
  width: 100%;
  height: 100%;
  padding: 150px 0;
  background-color: #fff;
}
.skillContent{
}

.skillBox{
  padding: 10px 15px;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
.skillBox > ul{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
.skillBox > ul > li{
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  margin: 20px 15px;
  width: 420px;
  height: 120px;
  transition: 0.7s;
}
.skillBox > ul > li:hover{
  transform: scale(1.1);
}

.imgTxt{
  display: flex;
  align-items: center;
}
/*이미지요소*/
.imgTxt > img{
  width: 45px;
  height: 45px;
  margin-right: 5px;
}




/*-----------------------------------------------*/
/*section : portpolio*/
#portpolio{
  width: 100%;
  height: 100%;
  border: 1px solid #ccc;
}
.portpolioContent{
  padding: 150px 0 60px;
}
/*-----------------------------------------------*/
/*section : contace*/
#contact{
  width: 100%;
  height: 100%;
}
#portpolio{height: 100%;}
.contactContent{
  padding: 150px 0;
}

/*포트포리오 소개 영역*/
.portpolioBox{
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid blue; */
  width: 100%;
}
.portpolioBox:nth-of-type(1){
  margin-top: 50px;
}
/*포트폴리오 요소*/
.portpolio-el{
  margin: 20px;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
  cursor: pointer;
}
/*포트포리오 이미지*/
.pp-img{
  width: 100%;
  height: 320px;
  background-color: #ccc;
  overflow: hidden;
  transition: all .3s;
  overflow: hidden;
  object-fit: cover;
  border: 1px solid #ccc;
  filter: grayscale(75%);
}
.pp-img:hover{
  filter: grayscale(0);
}

.Img1{background: url(../images/project-img/웹페이지\ 구현1.png) center/cover;}           /*웹페이지구현*/
.Img2{background: url(../images/project-img/프로필카드.png) center/cover;}                /*프로필카드*/
.Img3{background: url(../images/animation-img/Representative-img.PNG) center/cover;}      /*마을 애니메이션*/
.Img4{background: url(../images/project-img/파노라마.png) center/cover;}                  /*파노라마*/
.Img5{background: url(../images/project-img/메가박스.png) center/cover;}                  /*메가박스*/
.Img6{background: url(../images/project-img/반응형웹갤러리.png) center/cover;}            /*반응형 웹갤러리*/
.Img7{background: url(../images/project-img/3D스크롤.png) center/cover;}                  /*3D스크롤*/
.Img8{background: url(../images/project-img/반응형웹페이지.png) center/cover;}            /*반응형웹페이지*/
.Img9{background: url(../images/project-img/동영상웹페이지.png) center/cover;}            /*동영상웹페이지*/
.Img10{background: url(../images/project-img/swiperAPI.png) center/cover;}                /*Swiper*/
.Img11{background: url(../images/project-img/강아지똥피하기.png) center/cover;}           /*강아지 똥 피하기*/
.Img12{background: url(../images/project-img/슈팅게임구현.png) center/cover;}             /*슈팅게임*/
.Img13{background: url(../images/project-img/뮤직플레이어.png) center/cover;}             /*뮤직플레이어*/
.Img14{background: url(../images/project-img/에어팟.png) center/cover;}                   /*에어팟*/
.Img15{background: url(../images/project-img/벤츠\(자동차\).png) center/cover;}           /*벤츠*/
.Img16{background: url(../images/project-img/서울대학교병원.png) center/cover;}           /*서울대학교병원 리뉴얼*/
.Img17{background: url(../images/project-img/계산기.png) center/cover;}                   /*계산기*/
.Img18{background: url(../images/project-img/디자인호텔스.png) center/cover;}             /*디자인호텔스*/
.Img19{background: url(../images/project-img/포트폴리오.png) center/cover;}               /*포트폴리오 프로젝트*/
.Img20{background: url(../images/project-img/tmdb.png) center/cover;}                     /*TMDB*/
.Img21{background: url(../images/project-img/굿모닝여행사\ \(1\).png) center/cover;}      /*굿모닝여행사*/
.Img22{background: url(../images/project-img/todolist.png) center/cover;}                 /*ToDo리스트*/
.Img23{background: url(../images/project-img/제주맥주\(1\).png) center/cover;}            /*제주맥주*/
.Img24{background: url(../images/project-img/petshop.png) center/cover;}                      /*펫샵*/


/*텍스트 요소*/
.pp-txt{
  margin-top: 15px;
}
.pp-title{
  font-weight: bold;
  font-size: 20px;
}

.pp-attribute{
  margin: 10px 0;
}
.pp-attribute li{
  margin: 10px 0;
}
/*날짜*/
.date{
  
}


/*태그*/
.tagBox{
  display: flex;
}

.tag-el{
  font-size: 14px;
  display: flex; 
}
.Tag{
  display: block;
  height: 25px;
  padding: 0 8px;
  border-radius: 5px;
  box-sizing: border-box;
  color: #fff;
  line-height: 25px;
  margin: 0 3px;
}
/*태그별 색상*/
.html{background-color: #E64C18;}
.css{background-color: #004CE8; text-align: center;}
.js{background-color: #FFDF00; text-align: center;}
.react{background-color: #00D8FF; text-align: center;}
.github{background-color: #000; text-align: center;}
.vscode{background-color: #0079CC; text-align: center;}

/*버튼요소*/
.pp-btn{
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px auto 0;
}
.pp-btn > a{
  width: 250px;
  height: 45px;
  text-align: center;
  margin: 5px 15px;
  line-height: 42px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 5px 5px #ccc;
  transition: 0.3s;
}
.pp-btn > a:hover{
  background-color: #333;
  color: #fff;
  box-shadow: 5px 5px #888;
  font-weight: bold;
}

/*-----------------------------------------------*/
/*section : contact*/
#contact{height: 100%;}
.contactContent{
  width: 100%;
  height: 100%;
}
.contact{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 150px;
}
.contact > p{
  margin: 20px 0;
  font-size: 17px;
}
.contact > .tit{
  font-size: 28px;
  font-weight: 500;
}

.liaison{
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 60px;
  margin-top: 70px;
}
.myInformation{
  width: 400px;
  margin: 0 auto;
}
.myInformation > .emailTxt{
  font-size: 17px;
  margin: 10px 0;
}
.myInformation > .link{
  display: flex;
  margin-top: 30px;
}
.myInformation > .link > a{
  margin: 50px 30px;
  padding-bottom: 5px;
}
.myInformation > .link > a:hover{
  border-bottom: 1px solid #333;
}

.btn-motion6{
  margin-top: 50px;
}
.btn-motion6 > span{
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000; 
  transform: rotate(-45deg); 
  animation: btn-motion6 2s infinite;
  opacity: 0.5;
  box-sizing: border-box;
}
.btn-motion6 span:nth-of-type(1) {animation-delay: 0s;}
.btn-motion6 span:nth-of-type(2) {top: 16px;animation-delay: .15s;}
.btn-motion6 span:nth-of-type(3) {top: 32px; animation-delay: .3s;}

@keyframes btn-motion6 {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}